body{
   background-color: green
}

form{
    border: 1px solid rgb(211, 209, 209);
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;
    background-image: url(./anh-chill-67.jpg) ;
    background-size: cover;
    color: rgb(50, 41, 5);
    
}

